/* You can add global styles to this file, and also import other style files */

@import '~ngx-smart-modal/ngx-smart-modal.css';

body {
    font-family: 'Opel Sans Condensed', Arial, Helvetica, sans-serif;
}
input:focus,
button:focus,
select:focus {
    outline-style: none;
    outline: none;
}
input {
    font-size: 18px;
}

.title{
    display: flex
}

.ajouter{
    width: auto;
    height: 42px;
    padding: 0 15px;
    margin-left: 15px;
    border-radius: 5px;
    background: #f7d900;
    font-size: 18px;
    font-weight: bold;
    border: 0;
}


/* MODAL */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* width */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #f7d900;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.arrow{
    position: relative;
    padding-left: 15px!important;
    margin-right: 0!important;
}

.arrow::before{
    content: "";
    background: url(../src/assets/icons/arrow.png) no-repeat;
    background-size:contain;
    height: 15px;
    width: 15px;
    color: #000;
    left: .75rem;
    line-height: 1.5;
    position: absolute;
    top: 12px;
    text-align: inherit;
    font-size: .75rem;
    font-weight: 600;
    margin-right: .5rem;
    }
.arrow:hover::before{
    background: url(../src/assets/icons/arrowhover.png) no-repeat;
    background-size:contain;
    }

.arrow:hover {
    color: rgb(109, 109, 109)!important;
    background: #f7d900!important;
}

.required::after{
    content: "*";
    color: #d9534f;
    padding-left: 5px;
}
.label-error{
    color: orangered;
    display: inline-flex;
}

a:hover, button:hover, input[type="submit"]{
    cursor: pointer;
}

.btn-right{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}




.bar{
    border-bottom: 1px solid #f7d900;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

html,body{
    overflow-x: hidden!important;
}

.button-disabled{
    color: #000!important;
}

body{
    margin: 0;
}