<!-- div class="container">
    <app-loader *ngIf="loading"></app-loader>
    <img src="assets\img\consommation.png" *ngIf="!loading">
</div -->
<div class="container">
    <app-loader *ngIf="loading"></app-loader>
    <!--<img src="assets\img\consommation.png" *ngIf="!loading">-->
    <div class="title">
        <h1>Consommation de carburant et émission de CO
            <sub>2</sub>
        </h1>
        <span>infromation en application de la directive 1000/00/00</span>
    </div>
    <div class="vehicule">
        <ul>
            <li>Marque :
                <span class="up"> opel </span>
            </li>
            <li>modèle :
                <span class="up"> Insignia Sports Tourer </span>
            </li>
            <li>Version :
                <span class="up"> Elite </span>
            </li>
            <li>Energie :
                <span class="up"> Diesel </span>
            </li>
        </ul>
    </div>
    <div class="consommation">
        <div class="carbu">
            Consommation de carburant
            <span>infromation en application de la directive 1000/00/00</span>
        </div>
        <div class="detail">
            <ul>
                <li>Cosommation mixte :
                    <span class="mnombre">
                        <span class="nombre">5.3</span>
                        <span class="unit">L/100Km</span>
                    </span>
                </li>
                <li>Consommation mixte :
                    <span class="unity"> 5.3 l/100km </span>
                </li>
                <li>Consommation urbaine :
                    <span class="unity"> 6.9 l/100km </span>
                </li>
                <li>Consommation extra urbaine :
                    <span class="unity"> 4.4 l/100km </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="dioxyde">
        <div class="illustr">
            <span class="co">CO
                <sub>2</sub>
            </span>
            <span class="co_text">le CO2 (dioxyde de carbone) est le principal gaz à effet de serre responsable du changement climatique.</span>
            <span class="expl">infromation en application de la directive 1000/00/00</span>
            <span class="repere">Emmision de CO2 faibles</span>
            <ul class="indication">
                <li>inférieurs ou
                    <br> égales 100 g/km</li>
                <li>de 101 à 120 g/km</li>
                <li>de 121 à 140 g/km</li>
                <li>de 141 à 160 g/km</li>
                <li>de 161 à 200 g/km</li>
                <li>de 201 à 250 g/km</li>
                <li>Supérieures à 250 g/km</li>
            </ul>
            <span class="repere">Emmision de CO2 élevées</span>
        </div>
        <div class="result">
            <span class="value">139 g/km</span>
            <ul class="indication_value">
                <!-- li class="indication_value_1">A
                    <sub>Diesel</sub>
                </li>
                <li class="indication_value_2">B
                    <sub>Diesel</sub>
                </li>
                <li class="indication_value_3">C
                    <sub>Diesel</sub>
                </li -->
                <li class="indication_value_4">E
                    <sub>Diesel</sub>
                </li>
                <!-- li class="indication_value_5">E
                    <sub>Diesel</sub>
                </li>
                <li class="indication_value_6">F
                    <sub>Diesel</sub>
                </li>
                <li class="indication_value_7">G
                    <sub>Diesel</sub>
                </li -->
            </ul>
        </div>
    </div>
    <p>La consommation de carburant et les émissions de CO2 d'un véhicule sont fonction non seulement de son rendement énérgétique,
        mais également du comportement au volat et d'autres facteurs non techniques.</p>
    <p>Les infromations sur les consommations de crburant et les émissions de CO2 detous les modèles de voitures particulières
        neuves, contenues dans le guide de l'ADEME,peuvent être obtenus gratuitement dans les points de vente et auprès de
        l'ADEME et consultées sur internet :
        <a href="https://www.ademe.fr">www.ademe.fr</a>
    </p>

</div>