.container {
    width: 1080px;
    height: auto;
    padding: 80px 35px 40px 35px;
    height: 1400px;
    position: fixed;
    top: 520px;
    overflow-y: auto !important;
    background: #fff;
    padding-bottom: 50px;
    text-align: center;
}

button {
    background: url('/assets/img/retour.png') left center no-repeat #f7d900;
    background-repeat: no-repeat;
    font-size: 63px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0;
    width: 172px;
    height: 57px;
}
