<div class="container" *ngIf="!showPriceDetails && !showBrochureRequestSent">
    <div class="log">
        <p class="exp">* Pour les véhicules particuliers (hors finitions Business): prix conseillé du modèle sélectionné après déduction
            d’une remise, de l'aide à la reprise si applicable (reprise de votre ancien véhicule, d’une puissance réelle
            inférieure ou égale à celle du véhicule acheté, aux conditions générales de l’ArgusTM + montant de la reprise
            applicable ; pour les véhicules hors cote ArgusTM, reprise du montant applicable uniquement) et de la prime à
            la conversion gouvernementale de 1000 € si applicable pour l'acquisition d'un véhicule émettant moins de 130g
            de CO2/km sous condition de reprise pour mise au rebut de votre véhicule Diesel immatriculé pour la première
            fois avant 2001 ou essence avant 1997 et sous réserve de bénéficier de la prime à la conversion gouvernementale
            (conditions sur service-public.fr). Offres non cumulables, réservées aux particuliers, valables pour l'achat
            du modèle sélectionné neuf, commandé en France métropolitaine jusqu'au 31/06/2018 dans le Réseau Opel participant.
            (1) Données en cours d'homologation.</p>
        <a routerLink="/configuration">
            <img src="assets\img\log.png">
        </a>
    </div>
</div>
