.container {
    height: 100%;
}

h1{
    font-size: 20px;
    display: table;
    border-bottom: #F7D900 solid 2px;
    padding-right: 10px;
}
.video{
    width: 300px;
    height: 200px;
}

.list ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
}


.list ul li{
    list-style: none;
    width: 23%;
    position: relative;
    margin-right:2%;
    margin-bottom: 20px;
}

.list ul li video{
    width: 100%;
}

.option{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    position: absolute;
    bottom: 5px;
    right: 0;
}

.option a video{
    width: auto!important;
}

.option a{
    justify-content: center;
    align-items: center;
    width: 40px;
    height:40px ;
    border-radius: 2px;
    background: #fff;
    margin-left: 10px;
    display: none;
}

li:hover .option a{
    display: flex;
}

.option a:hover{
background: #f7d900;
}

form{
    display: flex;
    flex-direction: column;
}

.form input {
    width: 60%;
    font-size: 15px;
    color: #000;
    margin-bottom: 10px;
    border: none;
    border-bottom: 5px #F7D900 solid;
    padding: 10px 20px;
    font-family: 'opel sans condensed'
}

button{
    background: #F7D900;
    border: none;
    font-size: 20px;
    height: 38px;
    width: 120px;
}
